@using MVC.Models._UserModels

@model UserDetail
@*@{
        ViewData["Title"] = User.;
    }*@

<h1>@Model.Id</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PlayerName)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.PlayerName)
    </dt>
</dl>

<div>
    <a asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
    <a asp-action="Index">Back To List</a>

</div>


