@using MVC.Models._CreatureModels

@model CreatureDetail

@{
    ViewData["Title"] = Model.Cost;
}

<h1>@Model.Cost</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Effect)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Effect)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Cost)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Cost)

    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Color)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayFor(model => model.Color)

    </dt>
</dl>

<div>
    <a asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
    <a asp-action="Index">Back To List</a>

</div>

<!--Don't forget to double back and fix 'color' in and create for Creatures-->
